In [2]:

import pandas as pd 
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [7]:
names=["studytime","freetime","G2","G1","absences","health","G3"]
data=pd.read_csv('student-por.csv')
data[["studytime","freetime","G2","G1","absences","health","G3"]]

     studytime  freetime  G2  G1  absences  health  G3
0            2         3  11   0         4       3  11
1            2         3  11   9         2       3  11
2            2         3  13  12         6       3  12
3            3         2  14  14         0       5  14
4            2         3  13  11         0       5  13
..         ...       ...  ..  ..       ...     ...  ..
644          3         4  11  10         4       5  10
645          2         3  15  15         4       1  16
646          2         1  12  11         6       5   9
647          1         4  10  10         6       2  10
648          1         4  11  10         4       5  11

[649 rows x 7 columns]